<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/../images/logo.gif" alt="score deck logo" height="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">My Score Deck</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> --}}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Add a Score Card</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Courses
            </a>
            <ul class="dropdown-menu">
              {{#each courses}}
                <li><a class="dropdown-item" value={{this.dataValues.course_name}} href="/auth/user/single_course/{{this.dataValues.course_name}}">{{this.dataValues.course_name}}</a></li>
              {{/each}}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Add a Course</a></li>
            </ul>
          </li>

          {{!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> --}}
        </ul>
        <div class="d-flex no-dot">
          {{!-- <li class="nav-item"> --}}
            {{#if isLoggedIn}}
            <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>
            {{else}}
            <a class="nav-link active" aria-current="page" href="/auth.login">Login</a>
            {{/if}}
            {{!--
          </li> --}}
        </div>
      </div>
    </div>
  </nav>
</header>

<form action="/auth/user/add_a_course_tee" method="POST">

<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <h2 class="mb-3 mt-5">Enter {{course.dataValues.course_name}} <br> Score Card Details</h2>
    </div>
  </div>

  <div class="row mb-3 text-center"> 

    <div class="col-xl-1 col-lg-1 col-sm-1 col-xs-1 offset-xl-4 offset-lg-4 col-sm-1 col-xs-1 offset-xs-1 form-group offset-sm-4">
      <label for="tees" class="col-form-label">Tees</label>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-1">
      <input type="text" name="tees" class="form-control" id="tees" placeholder="Tees">
    </div>

  </div>

  <div class="row">
    <div class="col-xl-12 mb-1 m-1 text-center">
      <button type="submit" class="btn btn-success submit-btn">Next</button>
    </div>
  </div>

 
</div>

</form>
